/*Mixins*/

@import '_variables.scss';

@mixin bg-grey {
	background-color: $grey;
}

@mixin nav-red {
	background-color: $red;
	border-radius: 4px;
	width: 100%;
}

@mixin btn-rd {
	background-color: $red;
}

/*redes*/

@mixin fb {
	color: $fb;
}

@mixin tw {
	color: $tw;
}

@mixin gp {
	color: $gp;
}

@mixin mail {
	color: $mail;
}

@mixin rss {
	color: $rss;}

@mixin bg-image-grid {
	background-size: 100%;
	background-position:top center;
	background-repeat: no-repeat;
	p {
		padding: 0% 2%;
		color: $blanco;
		font-weight: 600;
		font-size: 20px;
		text-shadow: -2px 1px 0px white;
	}
}

