$red: #d30000;
$red-dk: #811101;
$red-lg: #d90000;
$grey: #f4f5f7;
$oscuro: #101417;
$subtitulo: #78849a;
$blanco: #ffffff;
$galeria: #768696;
$red-co: #b20000;
$grey-link: #8d99a5;

/*colores redes sociales*/

$fb: #255a84;
$tw: #41b8e0;
$gp: #a84c4f;
$mail: #febf00;
$rss: #e38a48;

/*estilos*/
$list-style: none;
$text-decoration: none;
$weight: 600;