/*colores redes sociales*/
/*estilos*/
/*Mixins*/
/*colores redes sociales*/
/*estilos*/
/*redes*/
/*border-top*/
/*Globals*/
.pd-3 {
  padding: 3%; }

.pd-5 {
  padding: 5%; }

.pd-10 {
  padding: 10%; }

.pt-3 {
  padding-top: 3%; }

.pt-5 {
  padding-top: 5%; }

.p-l-t {
  padding: 1% 2%; }

.pb-3 {
  padding-bottom: 3%; }

.pb-2 {
  padding-bottom: 2%; }

.pb-5 {
  padding-bottom: 5%; }

.border-2 {
  border-bottom: 20px hidden; }

.ml-3 {
  margin-left: 300px; }

.mb-2 {
  margin-bottom: 2%; }

.p-0 {
  padding: 0%; }

.m-0 {
  margin: 0%; }

/*Header*/
header {
  background-color: #f4f5f7;
  text-transform: uppercase;
  display: inline; }
  header small {
    font-weight: bold; }
  header p {
    float: left; }
  header .fa-facebook {
    color: #255a84; }
  header .fa-twitter {
    color: #41b8e0; }
  header .fa-google-plus {
    color: #a84c4f; }
  header .fa-envelope {
    color: #febf00; }
  header .fa-rss {
    color: #e38a48; }

.col-md-16 nav {
  background-color: #d30000;
  border-radius: 4px;
  width: 100%; }
  .col-md-16 nav button {
    background-color: #d30000; }

/*Footer*/
footer {
  background-color: #f4f5f7; }
  footer ul {
    display: block; }
    footer ul li {
      list-style: none; }
  footer div.col-md-4 {
    border-right: 3px ridge white; }
  footer div.row .col-md-12 {
    border-top: 3px ridge white; }

/*media queries*/
/*index*/
li {
  display: inline-block; }

.home h1 {
  font-weight: 600; }
.home .nav .bg-negro {
  background-color: #101417;
  color: #ffffff;
  padding: 1% 6%; }
.home .nav a {
  color: #101417; }
  .home .nav a:hover {
    color: #d90000; }
.home .tx-up {
  font-weight: 600; }
.home .p-jne {
  font-size: 30px; }
.home .galeria-red {
  background-color: #b20000;
  font-size: 25px;
  color: #ffffff; }
.home .galeria-red:hover {
  background-color: #d30000;
  color: #f4f5f7; }
.home .grey-galeria .col-md-2 {
  background-color: #f4f5f7;
  padding: 2% 0%; }
.home .grey-galeria a, .home .grey-galeria h6 {
  color: #101417; }
  .home .grey-galeria a:hover, .home .grey-galeria h6:hover {
    color: #8d99a5; }
.home .top {
  background-color: #f4f5f7;
  border-top: 5px solid #b20000; }
.home .col-xs-14 .anuncio {
  max-height: 600px; }
.home .red-circle {
  background-color: #f4f5f7; }
  .home .red-circle .fa {
    color: #d30000; }
  .home .red-circle a:hover .fa {
    color: #8d99a5; }

/*section noticas*/
.noticias .col-md-16, .noticias .col-md-8 {
  border-bottom: 1px solid #8d99a5; }
  .noticias .col-md-16 .fa, .noticias .col-md-8 .fa {
    color: #d30000; }
  .noticias .col-md-16 p, .noticias .col-md-16 ul, .noticias .col-md-8 p, .noticias .col-md-8 ul {
    width: 65%;
    float: left; }
  .noticias .col-md-16 a, .noticias .col-md-8 a {
    color: #8d99a5; }
  .noticias .col-md-16 .img-noticias, .noticias .col-md-8 .img-noticias {
    width: 35%;
    float: left; }
  .noticias .col-md-16 .redes img, .noticias .col-md-8 .redes img {
    width: 25%; }
  .noticias .col-md-16:hover, .noticias .col-md-8:hover {
    -webkit-box-shadow: 4px -2px 14px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 4px -2px 14px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 4px -2px 14px 0px rgba(0, 0, 0, 0.59); }
    .noticias .col-md-16:hover p, .noticias .col-md-16:hover h4, .noticias .col-md-8:hover p, .noticias .col-md-8:hover h4 {
      color: #8d99a5; }
.noticias .col-md-16:before, .noticias .col-md-16:after {
  content: "";
  display: block;
  clear: both;
  box-sizing: border-box; }
.noticias .col-md-8:before, .noticias .col-md-8:after {
  content: "";
  display: block;
  clear: both;
  box-sizing: border-box; }

/*Parte baja de index*/
.nw {
  position: relative;
  border: 1px solid grey;
  padding: 0; }
  .nw h4 {
    color: #d30000;
    position: relative;
    z-index: 1001;
    font-weight: bold; }
  .nw .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 36%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(36%, white), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 36%, black 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 36%, black 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 36%, black 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 36%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); }
    .nw .overlay .tx-up {
      position: absolute;
      color: white;
      bottom: 0; }

/*Aside*/
.boletin {
  background-image: url("../image/trama_square.jpg");
  background-repeat: repeat; }
  .boletin div.box {
    background-color: white;
    padding: 3%; }

.box2 {
  border: 1px solid grey; }
  .box2 .col-md-10 {
    border-bottom: 4px solid purple; }
    .box2 .col-md-10 span {
      color: purple; }

.box3 {
  border-top: 4px solid #768696; }

/*Contacto*/
.contacto input, .contacto textarea {
  background-color: #f4f5f7; }
.contacto .ejemplos {
  padding-left: 0%;
  font-size: 10px; }
  .contacto .ejemplos li {
    margin-top: 6%; }
.contacto textarea {
  max-width: 100%;
  max-height: 400px;
  min-height: 200px; }
.contacto .btn {
  background-color: #101417;
  color: #ffffff;
  padding: 1% 5%; }

/*Columnista*/
/*Blog*/
.blog .col-xs-4 {
  border: 3px solid #f4f5f7;
  margin-left: 5%;
  height: 200px; }
  .blog .col-xs-4 .blogs {
    margin-top: 10%;
    background-color: #f4f5f7;
    color: #8d99a5; }
    .blog .col-xs-4 .blogs img {
      width: 35%;
      float: left;
      border: 2px solid #ffffff;
      -webkit-box-shadow: 0px 3px 2px 0px rgba(76, 68, 68, 0.6);
      -moz-box-shadow: 0px 3px 2px 0px rgba(76, 68, 68, 0.6);
      box-shadow: 0px 3px 2px 0px rgba(76, 68, 68, 0.6); }
      .blog .col-xs-4 .blogs img:hover {
        -moz-transform: scale(1.2) rotate(360deg) skewX(360deg);
        -webkit-transform: scale(1.2) rotate(360deg) skewX(360deg);
        -o-transform: scale(1.2) rotate(360deg) skewX(360deg);
        -ms-transform: scale(1.2) rotate(360deg) skewX(360deg);
        transform: scale(1.2) rotate(360deg) skewX(360deg); }
    .blog .col-xs-4 .blogs p {
      float: left;
      width: 65%;
      padding-left: 3%; }
      .blog .col-xs-4 .blogs p span {
        color: #101417; }

.blogs:before, .blogs:after {
  content: "";
  display: block;
  clear: both;
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
