/*Contacto*/
.home {
	h1 {font-weight: $weight;}
	li {display: inline-block;}
	.nav {
		a {
			color:$oscuro;
			&:hover {
				color: $red-lg;
			}
		}
	}
	.bg-negro {
		font-size: 20px;
		background-color: $oscuro;
		color: $blanco;
	}
	.bg-jne {
		padding-top: 84%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_principal.jpg");
		p {font-size: 30px;}
	}
	.bg-martin {
		padding-top: 36%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_secundario.jpg");
	}
	.bg-sub-20 {
		padding-top: 44%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_especiales.jpg");
	}
	.galeria-red {
		background-color: $red;
		font-size: 25px;

	}
	.grey-galeria {
		.col-md-2 {@include bg-grey;}
		a, h6 {color: $oscuro;}

	}
	.top {
		border-top: 5px solid $red;
		padding-bottom: 5%;

	}
}
