/*index*/
li {display: inline-block;}
.home {
	h1 {font-weight: $weight;}
	.nav {
		a {
			color:$oscuro;
			&:hover {
				color: $red-lg;
			}
		}
	}
	.bg-negro {
		font-size: 20px;
		background-color: $oscuro;
		color: $blanco;
	}
	.bg-jne {
		padding-top: 84%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_principal.jpg");
		p {font-size: 30px;}
	}
	.bg-martin {
		padding-top: 36%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_secundario.jpg");
	}
	.bg-sub-20 {
		padding-top: 44%;
		@include bg-image-grid;
		background-image: url("../image/img_grid_especiales.jpg");
	}
	.galeria-red {
		background-color: $red-co;
		font-size: 25px;

	}
	.grey-galeria {
		.col-md-2 {@include bg-grey;padding:2% 0%;}
		a, h6 {color: $oscuro;}

	}
	.top {
		border-top: 5px solid $red-co;
		padding-bottom: 5%;

	}
}
/*section noticas*/
.noticias {
	.col-md-10 {
		p, ul {width:65%;float:left;}
		.img-noticias {width:35%;float:left;}
		border-bottom: 1px solid grey;
		.redes img {width:25%;}
	}
	.col-md-10:before, .col-md-10:after {@include float-left;}
}

/*Parte baja de index*/

.nw {position: relative; border: 1px solid grey; padding: 0;
	h4 {@include red; position: relative; z-index: 1001; font-weight: bold;}


  .overlay{
  	.tx-up {position: absolute; color: white; bottom: 0;}
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255,255,255,0.1);
background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 36%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(36%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 36%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.1) 36%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 36%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.1) 36%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

}

/*Aside*/

.boletin {
	background-image: url(../../../../image/trama_square.jpg);
	background-repeat: repeat;
}