/*Globals*/

.pd-1 {padding: 1%;}
.pd-3 {padding: 3%;}
.pd-5 {padding: 5%;}
.pd-7 {padding: 7%;}
.pd-10 {padding: 10%;}
.pt-3 {padding-top: 3%;}
.pt-5 {padding-top: 5%;}
.pb-3 {padding-bottom: 3%;}
.pb-5 {padding-bottom: 5%;}
.p-l-t {padding: 1% 2%;}
.ml-3 {margin-left: 300px;}