/*media queries*/

@media (max-width: 960px) {
	footer, .anuncios, .banners, .aside, .box2, .box6, .box9, .anuncio2, .nav3 {display: none;}
	.tx-up {font-size: 100% !important;}
		.blog {
		.col-xs-5 {
		min-height: 250px;
		margin-left: 2% !important;
		}
	}
}

