/*media queries*/

@media (max-width: 1000px) {
	.anuncios {display: none;}
	// .noticas {
	// 	.col-xs-16 .col-md-8 {
	// 		min-height: 200px;
	// 		img, p {width:100%;clear:left;}
	// 	}
	// 	.col-md-16:before, .col-md-16:after {clear:left;}
	// 	.col-md-8:before, .col-md-8:after {clear:left;}
	// }
	.blog {
		.col-xs-5 {
		min-height: 250px;
		margin-left: 2% !important;
		}
	}
	footer {
		visibility: hidden;
		display:none;
	}
}